/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
  height: calc(100vh - 100px);
}

// Elements

.messages-card,
.messages-card__messages-analytics {
  .mat-card-header-text {
    display: none;
  }

  .mat-card-content {
    height: calc(100% - 70px);
  }
}


.message-item {
  height: 50px;
}
